.main{
    text-align: center;
    width:60%;
    margin: auto;
}
#logo{
    width: 15vh;
}
.blue-text{
    color:blue;
}
.blue-bg,td,th{
    background-color: rgb(20, 20, 122);
    color: white;
    border-radius: 10px;
    padding: 15px;
}
.button-section{
    margin: 10px;
}
table{
    width: 100%;
    margin: auto;
}
#search{
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(216, 213, 213);
}
button{
    cursor: pointer;
}

